<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>Agile Demo</title>
    <meta name="author" content="Ramsin Khoshabeh">
    <meta name="description" content="A Place to Call Home">

    <link rel="stylesheet" type="text/css" href="css/au.css">
  </head>

  <body>
    <nav>
    <label class="logo">SummyBuddy x About US</label>
    <ul>
      <li><a href="/lp">Home</a></li>
      <li><a href="/feature">Features</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/sign">Learn </a></li>
    </ul>
    </nav>
  </body>
  <section>

<h1 class="name">A team of college students working towards help you increase
the efficency of your college career because we know how easy it is to be
overwhelmed by readings and research</h1>
<h2 class="name">Heather Huntley</h2>
  <p>
    Marketing director of Toyota for 10 years before creating startup TLDR. </p>
<h1 class="name">Kyle Clapp</h1>
  <p>
  Software engineer with experience with algorithms. Specializes in frontend.
    </p>
<h1 class="name">Luke Wulf </h1>
  <p>
  Software engineer with a focus on maximizing the user's experience.
    </p>
<h1 class="name">Loki  Sassone</h1>
  <p>
    Software engineer with a focus on algorithm research
    </p>
</html>
